[submodule "admin-dashboard"]
	path = admin-dashboard
	url = git@github.com:sunmukhsc/admin-dashboard.git
[submodule "calculator"]
	path = calculator
	url = git@github.com:sunmukhsc/calculator.git
[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = git@github.com:sunmukhsc/etch-a-sketch.git
